<% provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Welcome to the Dev Diary</h1>

  <h2>
    Create your own blog!
  </h2>

  <%= link_to '<button>Sign up now!</button>'.html_safe, signup_path %>
</div>
