<% if @entries.any? %>
  <% @entries.each do |entry| %>
    <div class="article">
      <h2><%= link_to entry.title, entry %></h2>
      <div class="date_time">
        Created at: <%= formatted_date(entry.created_at, 'show') %><br>
        Updated at: <%= formatted_date(entry.updated_at, 'show') %>
      </div>
      <div class="entry_body">
        <%= entry.body.truncate(200) %>
      </div>
    </div>
  <% end %>
<% end %>
