<dl>
  <dt>プロフィール</dt>
  <dd><%= @user.name %></dd>
  <dt>ブログ投稿数</dt>
  <dd><%= pluralize(current_user.posts.count, "Entry") %></dd>
</dl>

<div>
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>

<div class="entries">
  <%= render 'entry' %>
</div>
