.wrapper {
  background-color: #fafbfc;
}

header h1 a,
header h1 a:visited {
  color: #212121;
  text-decoration: none;
}

.jumbotron {
  background: #f5f7ff;
  border-radius: 5px;
  padding: 2rem 1rem;
  text-align: center;

  h2 {
    font-size: 1.2em;
  }
}

.jumbotron {
  border-radius: .3rem;
}

footer {
  margin-top: 50px;
  text-align: center;
}

.select-picture:hover {
  opacity: 0.7;
}

.select-picture:active {
  opacity: 0.4;
}

/* Global style */
li {
  list-style: none;
}

/* Article */
.container {
  padding: 20px 10px;
  background-color: #fafbfc;
}

.article {
  margin-bottom: 50px;
  padding: 50px 80px;
  background-color: #fff;

  h2 {
    padding: 0.25em 0.5em;
    color: #494949;
    background: transparent;
    border-left: 5px solid #7db4e6;

    a {
      text-decoration: none;
    }
  }
}

/* Code block */
.highlight {
  border-radius: 5px;

  pre {
    padding: 10px;
  }
}

/* Inline code */
.article-body p code {
  margin: 0 0.1em;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .08);
  background-color: rgba(0, 0, 0, .03);
}
