<header>
  <h1><%= link_to "Dev Diary", root_path, id: "logo" %></h1>
  <nav>
    <%= link_to "Home", static_pages_home_path %>
    <%= link_to "About", static_pages_about_path %>
    <%= link_to "Log in", "#" %>
  </nav>
</header>
