<header class="navbar nvbar-fixed-top">
  <div class="container">
    <%= link_to "Dev Diary", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
  </div>
</header>
